@model BLL.MeaningFull

@{
    ViewBag.Title = "Challenge";
}

<h2>Challenge</h2>

<div>
    <h4>Winner is</h4>
    <hr />
   <p> @Html.Raw(Model.Result) </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.KnightID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.KnightID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.KnightName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.KnightName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerKnight.Precision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerKnight.Precision)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>*@

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
